:root{
    --bg-button: #080808;
    --border-button: solid 1px #888;
}

.button{
    font-size: 1.4em;
    background-color: var(--bg-button);
    color: white;
    border: 1px solid;
    border-color: white;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #f87117;
    color: #fff;
}

.button.operation:active {
    background-color: #fa8231cc;
}